<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <div class="floating-button">
        <!--p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" [rounded]="true" severity="secondary"[text]="true" /-->
      </div>
    </div>
    <div class="p-toolbar-group-center">
      <div class="toolbar-center-content">
        <!--h2 class="toolbar-title">{{ title }}</!--h2-->
        <img src="assets/logoSorteo.jpg" alt="Logo Sorteo" class="toolbar-logo" />
        <ng-container *ngIf="isExternal; else normalGreeting">
          <h3 class="toolbar-greeting">
            Rifa perteneciente al administrador <span id="usuario-registrado" class="text-primary">{{ userName }}</span>
          </h3>
        </ng-container>
        <ng-template #normalGreeting>
          <h3 class="toolbar-greeting">
            Hola, <span id="usuario-registrado" class="text-primary">{{ userName }}</span>!
          </h3>
        </ng-template>
      </div>
    </div>

    <div class="p-toolbar-group-end">

      <!--p-inputSwitch [(ngModel)]="checked" (ngModelChange)="onThemeChange($event ? 'dark' : 'light')"></!--p-inputSwitch-->
      <!--p-inputSwitch [(ngModel)]="checked" (click)="onThemeChange(checked ? 'dark' : 'light')"></!--p-inputSwitch-->
    </div>
  </p-toolbar>
</div>


